<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MahoganyASP.BO.Properties.Settings.MAHOGANY_BDConnectionString"
            connectionString="Data Source=ROYRAN\ROYRAN_BDS;Initial Catalog=MAHOGANY_BD;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>